[Unit]
Description=Procesador de alarmas con YOLO
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/alarm_processor
ExecStart=/usr/local/bin/alarm_processor /home/pi/alarm_processor/config.ini
Restart=on-failure
RestartSec=10

# Acceso a GPIO
SupplementaryGroups=gpio

[Install]
WantedBy=multi-user.target
